<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="loginUserName">Login Name:</label>
        <input 
          formControlName="loginName"
          class="form-control" 
          type="text" 
          id="loginUserName" 
          name="loginUserName"
          >
      </div>
      <div class="form-group">
        <label for="loginPassword">Password: </label>
        <input 
          formControlName="loginPassword"
          class="form-control" 
          type="password" 
          id="loginPassword" 
          name="loginPassword">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </form>
    <div class="row">
      <div class="col-xs-12">
        <br />
        <small><a routerLink="/signup" >Don't have an acccount? Sign up here.</a></small>
      </div>
    </div>
  </div>
</div>